RUSTFS_ACCESS_KEY={{ vault_rustfs_access_key }}
RUSTFS_SECRET_KEY={{ vault_rustfs_secret_key }}

RUSTFS_VOLUMES="{{ rustfs_volumes }}"
RUSTFS_ADDRESS=":{{ rustfs_api_port }}"
RUSTFS_CONSOLE_ENABLE={{ rustfs_console_enable | lower }}
RUSTFS_CONSOLE_ADDRESS=":{{ rustfs_console_port }}"

{% if rustfs_obs_enable %}
RUSTFS_OBS_CONFIG="{{ rustfs_obs_config_path }}"
{% endif %}

{% if rustfs_tls_enable | default(false) %}
RUSTFS_TLS_PATH="{{ rustfs_tls_dir }}"
{% endif %}

{% if rustfs_oidc_enable | default(false) %}
# --- OIDC Keycloak ---
RUSTFS_IDENTITY_OPENID_CONFIG_URL="{{ rustfs_oidc_config_url }}"
RUSTFS_IDENTITY_OPENID_CLIENT_ID="{{ vault_rustfs_oidc_client_id }}"
RUSTFS_IDENTITY_OPENID_CLIENT_SECRET="{{ vault_rustfs_oidc_client_secret }}"
RUSTFS_IDENTITY_OPENID_CLAIM_NAME="{{ rustfs_oidc_claim_name }}"
RUSTFS_IDENTITY_OPENID_REDIRECT_URI="{{ rustfs_oidc_redirect_uri }}"
RUSTFS_IDENTITY_OPENID_SCOPES="{{ rustfs_oidc_scopes }}"
RUSTFS_IDENTITY_OPENID_COMMENT="{{ rustfs_oidc_comment }}"
{% endif %}